#utitls
python-dotenv
rich

#Backend
Flask
flask_cors


#Preprocessing 
transformers

#database
pinecone
langchain-pinecone 
pinecone-notebooks
pinecone[grpc]

#pdf
unstructured
pymupdf
pdfminer


#Model 
langchain 
langchain-text-splitters 
langchain-community 
langgraph
langchain-groq
langchain-core
langchain-huggingface
langchain-google-genai
langchain-google-vertexai


#Gemini
google-genai
langchain[google-vertexai]


bs4

kagglehub
pandas

pymongo[srv]

#Jupyternotbook files 
notebook
jupyterlab
ipython
ipykernel
nbconvert
