#utitls
python-dotenv
rich


Flask


#Preprocessing 
transformers

#database
pinecone
langchain-pinecone 
pinecone-notebooks
pinecone[grpc]

#pdf
unstructured
pymupdf
pdfminer


#Model 
langchain 
langchain-text-splitters 
langchain-community 
langgraph
langchain-groq
langchain-core
langchain-huggingface



#Gemini
google-genai


bs4

kagglehub
pandas

pymongo[srv]

#Jupyternotbook files 
notebook
jupyterlab
ipython
ipykernel
nbconvert
